<nav class="navbar p-3 is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="index.html">
      KanBot
      <figure class="image is-32x32 ml-3">
        <img class="is-rounded" src="assets/discord_icon.png" />
      </figure>
    </a>

    <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">  
      <a class="navbar-item" href="about.html">
        About KanBot
      </a>

      <a class="navbar-item" href="commands.html">
        Commands
      </a>

      <a class="navbar-item" href="status.html">
        Status
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="https://discord.com/oauth2/authorize?client_id=1236333640024326285&permissions=2147551296&scope=bot" target="_blank">
            <strong>Invite KanBot</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>