::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#commands-panel {
    width: 75%;
}

#home-hero {
    background-color: #890404;
}